/* .HeroSectionContent{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60%;
    height: 100vh;
    color: white;
}


 .phone-wrapper {
  position: relative;
  width: 300px;
  height: 600px;
  perspective: 1000px; 
}

.phone {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; 
  transform-style: preserve-3d;
}

.front {
  animation: flip 1s ease-in-out forwards;
  animation-delay: 1s;
}

.back {
  transform: rotateY(180deg);
  animation: flipBack 1s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes flip {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(180deg); }
}

@keyframes flipBack {
  0% { transform: rotateY(180deg); }
  100% { transform: rotateY(360deg); }
}

.HeroSectionContent .buyBtn{
    background-color: #0076DF;
    border-radius: 35px;
    padding: 15px 20px;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    z-index: 2;
}
.HeroSectionContent h1{
    z-index: 2;
}
@media (max-width: 768px) {
    .HeroSectionContent{
        background-image: url('../../assets/herosectioforphone.png');
    }
} */

.HeroSectionContent {
  position: relative;
  width: 100%;
  height: 100vh;
  background: black;
  overflow: hidden;
}

.HeroSectionContent video {
  position: absolute;
  top: 0;
  left: 2%;
  width: 95%;
  height: 100%;
  object-fit: cover; 
  z-index: 1;
}

.HeroOverlay {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  color: white;
  text-align: center;
}

.HeroOverlay h1 {
  font-size: 1.5rem;
  margin: 50px 0;
}

.HeroOverlay .buyBtn {
  background-color: #0076DF;
  border-radius: 25px;
  padding: 12px 20px;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 5%;
}

.HeroOverlay .buyBtn:hover {
  background-color: #0167c0;
}

/* موبايل */
@media (max-width: 768px) {
  .HeroOverlay h1 {
    font-size: 2rem;
  }
  .HeroOverlay .buyBtn {
    font-size: 16px;
    padding: 10px 20px;
  }
  .HeroSectionContent video{
    object-fit: contain;
  }
  .HeroOverlay{
    justify-content: space-around;
  }
}
