.CameraControlContent{
    background-color: black;
    text-align: center;
    padding: 90px 0;
    padding-bottom: 0;
}

.CameraControlContent .firstTitle{
    color: #c9c0ba;
    font-size: 70px;
}
.secoundtitle {
  font-size: 70px;
  font-weight: bold;
  color: #fffaf6; 
  text-shadow:
     0 0 5px #d2b48c,
     0 0 10px #d2b48c,
     0 0 20px #d2b48c,
     0 0 30px #d2b48c,
     0 0 40px #d2b48c;
  animation: glow 4s ease-in-out infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow:
      0 0 1px #d6ab71,
      0 0 2px #d6ab71,
      0 0 4px #d6ab71,
      0 0 6px #d6ab71,
      0 0 8px #d6ab71;
  }
  100% {
    text-shadow:
      0 0 5px #d6ab71,
      0 0 10px #d6ab71,
      0 0 20px #d6ab71,
      0 0 30px #d6ab71,
      0 0 40px #d6ab71;
  }
}

.CameraControlContent video {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 5%;
}

.CameraControlContent .Beautyslids{
    background: black;
}

.CameraControlContent .slideArrows i{
    background-color: rgba(111, 111, 111, 0.329);
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 15px;
}

.cardWorld {
  background: linear-gradient(to bottom, #000000 0% ,#101010 10%,#111111af 25%,#111111 50%,#222222 95%, #2a2a2a 100%);
  padding: 10% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.allCard{
    background-color: black;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px;
    width: 70%;
    height: 600px;
    gap: 10px;
    padding-top: 2%;
}

.cardWorld .cardText {
    padding: 6%;
    padding-top: 10%;
    padding-bottom: 0;
    width: 45%;
}

.cardWorld .cardText p{
    text-align: left;
    color: rgba(255, 255, 255, 0.44);
    font-weight: 600;
}

.cardWorld .cardText h2{
    color: white;
    font-size: 33px;
    text-align: left;
    padding: 5px 0;
    margin-bottom: 15px;
}

.cardText span{
  color: white;
}

.allCard .cardIg{
    width: 50%;
    padding-top: 3%;
}

.allCard .cardIg img{
    width: 100%;
    height: 100%;
}

.bgSlideshow {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
  margin-top: 10%;
}

.bgSlideshow .bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 2s ease, transform 3s ease;
}

.bgSlideshow .bgImage.active {
  opacity: 1;
}

.slidee2 p {
  margin-top: 10px;
  font-size: 15px;
  color: #fffaf6;
  padding: 0 5%;
}

.slidee2 {
  position: relative;
  height: 80vh;
  width: 48%; 
  flex-shrink: 0;
  text-align: left;
}

.slidee2 img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  transition: opacity 1.5s ease-in-out; 
  border-radius: 16px;
}

.phone {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  transition: opacity 1.5s ease-in-out;
}

.phone.start {
  opacity: 1;
  z-index: 1;
}

.phone.end {
  opacity: 0;
  z-index: 2;
}

.phone.end.show {
  opacity: 1;
}

/* responsive adjustments */
@media (max-width: 1024px) {
  .CameraControlContent .firstTitle, 
  .CameraControlContent .secoundtitle {
    font-size: 55px;
  }
  .bgSlideshow{
    height: 450px;
  }
}

@media (max-width: 768px) {
  .CameraControlContent .firstTitle , .CameraControlContent .secoundtitle  {
    font-size: 40px;
  }
  .bgSlideshow{
    height: 300px;
  }

  .slidee2{
    flex: 0 0 80%;
  }
  .allCard {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: fit-content;
    padding: 0 10px;
    gap: 10px;
  }
  .cardWorld .cardText {
    width: auto;
    padding: 4%;
  }
  .cardWorld .cardText p{
    font-size: 17px;
  }
  .cardWorld .cardText h2 {
    font-size: 24px;
  }
  .allCard .cardIg {
    width: 80%;
  }
  .allCard .cardIg img {
    margin-bottom: -2%;
  }
  
}
