.LockSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background: #000;
  color: #fff;
  padding: 0 10%;
  width: 100%;
  font-weight: 600;
  position: relative;
  overflow: hidden;
}

.textLock,
.imgLock {
  position: relative;
}

.textLock {
  width: 45%;
  min-height: 350px;
}
.textLock h3 {
  font-size: 35px;
  margin-bottom: 20px;
}
.textLock p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.imgLock {
  width: 40%;
  height: 100%;
  min-height: 500px;
}

.text-slide,
.img-slide {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  will-change: transform, opacity;
}

.imgLock img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

/* Spacer */
.styleHei {
  height: 300vh;
  margin-bottom: 110vh;
}

/* Responsive */
@media (max-width: 734px) {
  .LockSection {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
  }

  .textLock {
    width: 90%;
    margin-top: 20px;
  }

  .imgLock {
    width: 80%;
    height: 60vh;
  }

  .textLock h3 {
    font-size: 28px;
  }

  .textLock p {
    font-size: 16px;
  }

  .styleHei {
    height: 200vh;
    margin-bottom: 50vh;
  }
}
