/* .photographic-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #000;
  text-align: center;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: inset(0 0 0 0);
  transform-origin: center;
}

.moving-line {
  position: absolute;
  top: 0;
  height: 100%;
  width: 0;
  background-color: #000;
  z-index: 10;
}

.contentPhoto {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
}

.contentPhoto h1 {
  color: rgba(255, 255, 255, 0.728);
  width: 55%;
  font-size: 70px;
  margin-bottom: 5%;
  line-height: 1;
}

.contentPhoto h1 p {
  font-weight: bold;
  color: #fffaf6;
  text-shadow:
     0 0 5px #9b6c30,
     0 0 10px #9b6c30,
     0 0 20px #9b6c30,
     0 0 30px #9b6c30,
     0 0 40px #9b6c30;
  animation: glow 4s ease-in-out infinite alternate;
}

.pPhotoStleSection {
  color: rgba(255, 255, 255, 0.552);
  font-size: 24px;
  padding: 7% 15%;
  font-weight: 600;
}

.pPhotoStleSection span {
  color: white;
}


.afterSectionSpacer {
  height: 100vh; 
}


@media (max-width: 1024px) {
  .contentPhoto h1 {
    width: 70%;
    font-size: 50px;
  }
}


@media (max-width: 768px) {
  .contentPhoto {
    padding: 0 3%;
  }

  .contentPhoto h1 {
    width: 90%;
    font-size: 42px;
    margin-bottom: 10%;
  }

  .photographic-section {
    height: 80vh;
  }
}

@media (max-width: 480px) {
  .contentPhoto h1 {
    font-size: 32px;
  }

  .photographic-section {
    height: 50vh;
  }

  .pPhotoStleSection {
    font-size: 20px;
    padding: 7% 10%;
  }
} */


 /* .photographic-section {
  width: 100%;
  overflow: hidden;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center;
}
.contentPhoto h1 {
  color: rgba(255, 255, 255, 0.728);
  width: 55%;
  font-size: 70px;
  margin-bottom: 5%;
  line-height: 1;
}

.contentPhoto h1 p {
  font-weight: bold;
  color: #fffaf6;
  text-shadow:
     0 0 5px #9b6c30,
     0 0 10px #9b6c30,
     0 0 20px #9b6c30,
     0 0 30px #9b6c30,
     0 0 40px #9b6c30;
  animation: glow 4s ease-in-out infinite alternate;
}
.contentPhoto {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
}
.pPhotoStleSection {
  color: rgba(255, 255, 255, 0.552);
  font-size: 24px;
  padding: 7% 15%;
  font-weight: 600;
}

.pPhotoStleSection span {
  color: white;
}

@media (max-width: 1024px) {
  .contentPhoto h1 {
    width: 70%;
    font-size: 50px;
  }
}


@media (max-width: 768px) {
  .contentPhoto {
    padding: 0 3%;
  }

  .contentPhoto h1 {
    width: 90%;
    font-size: 42px;
    margin-bottom: 10%;
  }

  .photographic-section {
    height: 80vh;
  }
}

@media (max-width: 480px) {
  .contentPhoto h1 {
    font-size: 32px;
  }

  .photographic-section {
    height: 50vh;
  }

  .pPhotoStleSection {
    font-size: 20px;
    padding: 7% 10%;
  }
}  */

.photo-section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: black; /* عشان لو فيه مسافة فاضية تبان */
}

.image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

