.LockSection {
  height: 300vh; 
  position: relative;
  margin-bottom: 30%;
  color: rgba(255, 255, 255, 0.576);
}

.stickyWrapperr {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  gap: 15%;
  padding: 0 10%;
}


.textLock {
  position: relative;
  height: 100vh;      /* مساحة النصوص */
  overflow: hidden;
  flex: 2;
}

.divText {
  width: 100%;
  transform: translateY(-100%); /* يوسّط النص */
  text-align: left;
  position: absolute;
  top: 25%;
}

.hidediv{
  position: relative;
   height: 100%;
}

.textLock h1{
  font-size: 50px;
  padding: 20px 0;
  color: white;
}
.textLock p{
  font-size: 30px;
  color: rgba(255, 255, 255, 0.796);
}

.imgLock {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1;
}

.img-slide {
  position: absolute;
  width: 100%;
  height:fit-content;
  object-fit: cover;
}
 




@media (max-width: 768px) {

.textLock h1 {
    font-size: 30px;
  }
  .textLock p {
    font-size: 23px;
  }
  .stickyWrapperr{
    flex-direction:column-reverse;
  }
  .img-slide {
    
    padding: 0 30%;
  }
  .divText{
    position: relative;
  }
  .divText.tt{
    margin-top: -50%;
  }
}

@media (max-width: 468px) {
    .PhotoSection p {
        font-size: 17px;
    }
    .textLock p {
        font-size: 20px;
    }
    .textLock h1 {
        font-size: 28px;
    }
    .divText.tt{
    margin-top: -170%;
  }
}